{% extends 'layouts/base.html' %}
{%block content%}
<div class="m-5">
    <h2 class="text-center col-12">Seleccionar CIF</h2>
    <div class="row m-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">CIF - Sistema de RH</h5>
              <p class="card-text">Utilizado en un proyecto anterior, los costos se manejan por mes.</p>
              <a href="/costos_indirectos" class="btn btn-primary">Usar</a>
            </div>
          </div>
        </div>
    </div>
</div>
{%endblock%}