{% extends 'layouts/base.html'%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Transacción</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Registrar Transacción</h2>
        
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Esto mostrará los campos del formulario automáticamente -->
            <button type="submit" class="btn btn-primary">Guardar Transacción</button>
        </form>
    </div>
</body>
</html>
{%endblock%}