{% extends 'layouts/base.html'%}

{% block content %}
    <div class="container align-content-center">

        <div class=" row mx-3" style="margin-top: 50px">
            <h2 class="text-center col-12"> Gestion Expert S.A de C.V </h2>
            <h4 class="text-center col-12"> Balance General </h4>
            <h4 class="text-center col-12"> del {{periodoActual.fechaInicio|date:"d/m"}} al {{periodoActual.fechaFin|date:"d/m"}} del {{periodoActual.fechaInicio|date:"Y"}} </h4>
        </div>

    </div>
{%endblock%}